
:root{
    --dark-gray: #343333;
    --green: #20d657;
    --blue: #4480f1;
    --radius: 8px;
    --transition: all 0.3s ease;
    --shadow: 0 4px 6px rgba(0,0,0, 0.1);
    --light-gray: #f9f9f9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
Estilos Base 
*/

body{
    font-family: 'Segoe UI', 'Arial', sans-serif;
    color: var(--dark-gray);
    line-height: 1.6;
}

h1, h2, h3, h4{
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin: 1rem;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.center{
    text-align: center;
}

/*fin de estilos base*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    }

    .nav-link{
        display: flex;
        list-style: none;
    }

    .nav-link li{
        margin-left: 2rem;
       
    }

    .nav-link a{
        color: var(--dark-gray);
        text-decoration: none;
        font-weight: 500;
      
    }
    
    .logo{
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 700; 
        text-decoration: none;
        color: var(--blue);
    }
    

    .logo i{
        margin-right: 7px;
        color: var(--green);
    }
   

    #hero{
        background: linear-gradient(#4480f1, #20d657);
        color: white;
        text-align: center;
        padding: 9rem 1rem 6rem;
        position: relative;
       
    }

    .hero-content{
       max-width: 900px; 
       margin: 0 auto;

    }

    .hero-content h1{
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    .hero-content p{
    font-size: 1.25rem;
    margin-bottom: 2rem ;
    opacity: 0.9;
    } 

    .btn{
        display: inline-block;
        font-size: 1rem;
        padding: 16px 30px;
        text-decoration: none;
        font-weight: 600;
        background-color: var(--blue);
        color: white;
        border-radius: var(--radius);
        transition: var(--transition);
        box-shadow: var(--shadow);
        font-size: 1rem;
     
    }

    .btn:hover{
        background: #305cb0;
        transform: translateY(-3px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.20) ;
    }

    .btn-secondary {
        background: var(--green);
    }

    .btn-secondary:hover{
        background-color: #1fbd4f;
    }

    /*serivicos inicio*/

    #servicios{
        background: var(--light-gray);
        /* background: #1fbd4f; */
        /* margin-bottom: 80px; */
        padding-bottom: 50px;
    }

    .services-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        /* grid-template-columns: minmax(280px, 1fr)  minmax(280px, 2fr)  minmax(280px, 1fr) ; */
        gap: 2rem;
        margin-top: 3rem;

    }

    .card{
        background-color: rgb(255, 255, 255);
        border-radius: var(--radius);
        box-shadow: var(--shadow);
        /* transition: var(--transition); */
        /* height: 100%; */
    }

    .card-contend{
        padding: 1.5rem;
    }

    .card-icon{
        font-size: 2.5rem;
        color: var(--blue);
        margin-bottom: 1rem;
    }

    .center h2:after{
        left: 50%;
        transform: translateX(-50%);
    }

    /*serivicos fin*/


    /*sobre nosotros inicio*/


    #nosotros{}

    .about-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        align-items: center;
    }

    .about-image{
        /* border-radius: var(--radius); */
     
        box-shadow: var(--shadow);
    }

    .about-image img{
           border-radius: var(--radius);
        /* border-radius: var(--radius); */
        width: 100%;
    }

    .about-text h2:after{
        left: 0;
        transform: none;
    }

    h2{
        font-size: 2rem;
        margin-bottom: 2rem;
        position: relative;
    }

    h2:after{
        content: "";
        position: absolute;
        width: 75px;
        height: 3px;
        background-color: var(--green);
        bottom: -10px;
        left: 0;
    }

#nosotros{
    margin-top: 40px;
}

    /*sobre nosotros fin */


    /*Nuestro equipo inicio*/

    .team-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;
        margin-top: 3rem
    }

    .team-member{
 text-align: center; 
    }

    .team-image{
        
      
    }

    .team-image img{
        border-radius: 50%;
        width: 180px;
        height: 180px;
        margin: 1rem  auto  1rem; 
        /* overflow: hidden; */
        border: 4px solid rgb(255, 255, 255);
        box-shadow: var(--shadow);
        
               
    }



    /*Nuestro equipo fin*/


    /*testimonials inicio*/
.testimonials{
    /* background: #1fbd4f; */
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;

}

.testimonial{
    background: #ffffff;
    border-radius: var(--radius);
    padding: 2rem;
    /* border: #343333 solid 1px; */
    /* position: relative; */
    box-shadow: var(--shadow);
}

.testimonial p::before{
    content: "\201C";
}

.testimonial p::after{
    content: "\201C";
}


.cliente-info{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}
.testimonials p{

}

#testimoios{
    margin-top: 3rem;
}

.client{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}
.client-image{
width: 50px;
height: 50px;
margin-right: 1rem;
}

.client-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.cliente-info h4{
margin: 0;
font-size: 1rem;
}

.cliente-info span{
    font-size: 0.800rem;
    color: rgb(92, 93, 93);
}

    /*testimonials fin*/


    /* contacto y reserva inicio*/

.contact-info{
 display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 2rem;
margin-top: 3rem;
}

/**/
/* por que  cuando hago esto:
.contact-card {
text-align: center;
}
no se centra el icono
.contact-card i {
text-align: center;
} */
/**/
.contact-card{
text-align: center;
}

     /* contacto y reserva fin*/